{% extends 'v2/base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        #clientMap {
            height: 500px;
        }
    </style>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="refresh" content="300">
{% endblock %}

{% block body %}
    <body data-chart="{{ path('api_map_markers', { clientId: client.id }) }}"
          x-data="{ page: 'dataTables', modalOpenAddClientSettings: false, modalRawDataReader: false, 'loaded': true, 'darkMode': true, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
          x-init="
          darkMode = JSON.parse(localStorage.getItem('darkMode'));
          $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
          :class="{'dark text-bodydark bg-boxdark-2': darkMode === true}"
    >
    <!-- ===== Preloader Start ===== -->
    {% block preloader %}
        {{ parent() }}
    {% endblock %}
    <!-- ===== Preloader End ===== -->

    <!-- ===== Page Wrapper Start ===== -->
    <div class="flex h-screen overflow-hidden">
        <!-- ===== Sidebar Start ===== -->
        <aside
                :class="sidebarToggle ? 'translate-x-0' : '-translate-x-full'"
                class="absolute left-0 top-0 z-9999 flex h-screen w-72.5 flex-col overflow-y-hidden bg-black duration-300 ease-linear dark:bg-boxdark lg:static lg:translate-x-0"
                @click.outside="sidebarToggle = false"
        >

            <!-- SIDEBAR HEADER -->
            {% block sidebar_header %}
                {{ parent() }}
            {% endblock %}
            <!-- SIDEBAR HEADER -->

            <div
                    class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear"
            >
                <!-- Sidebar Menu -->
                <nav
                        class="mt-5 px-4 py-4 lg:mt-9 lg:px-6"
                        x-data="{selected: $persist('Dashboard')}"
                >
                    <!-- Menu Group -->
                    <div>
                        <h3 class="mb-4 ml-4 text-sm font-medium text-bodydark2">MENU</h3>
                        <!-- Support Group -->
                        <div>
                            <ul class="mb-6 flex flex-col gap-1.5">
                                {% if app.user.permission == 4 %}
                                    <!-- Menu Item Messages -->
                                    <li @click="modalOpenAddClientSettings = true" class="cursor-pointer">
                                        <a
                                                class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                        >
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                 stroke-width="1.5" stroke="currentColor" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 0 1 1.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.559.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.894.149c-.424.07-.764.383-.929.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 0 1-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.398.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 0 1-.12-1.45l.527-.737c.25-.35.272-.806.108-1.204-.165-.397-.506-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.108-1.204l-.526-.738a1.125 1.125 0 0 1 .12-1.45l.773-.773a1.125 1.125 0 0 1 1.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894Z"/>
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                            </svg>
                                            Podešavanja
                                        </a>
                                    </li>
                                    <li class="cursor-pointer">
                                        <a
                                                href="/"
                                                class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                        >
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                 stroke-width="1.5" stroke="currentColor" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"/>
                                            </svg>
                                            Klijenti
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="cursor-pointer">
                                    <a
                                            href="{{ path('app_device_list', { clientId: client.id }) }}"
                                            class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25"/>
                                        </svg>
                                        Mjerni Uređaji
                                    </a>
                                </li>
                                <!--                        <li class="cursor-pointer" @click="modalOpenAddClientSettings = true">-->
                                <!--                            <a-->
                                <!--                                    class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"-->
                                <!--                            >-->
                                <!--                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">-->
                                <!--                                    <path stroke-linecap="round" stroke-linejoin="round" d="m9 13.5 3 3m0 0 3-3m-3 3v-6m1.06-4.19-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />-->
                                <!--                                </svg>-->
                                <!--                                FTP Podaci-->
                                <!--                            </a>-->
                                <!--                        </li>-->
                                {% if app.user.permission == 4 %}
                                    <li class="cursor-pointer">
                                        <a
                                                class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                                href="{{ path('app_user_getusers', { clientId: client.id }) }}"
                                        >
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                 stroke-width="1.5" stroke="currentColor" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"/>
                                            </svg>
                                            Korisnici
                                        </a>
                                    </li>
                                    <li class="cursor-pointer">
                                        <a
                                                href="{{ path('app_loginlog_getloginlogs', { clientId: client.id }) }}"
                                                class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                        >
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                 stroke-width="1.5" stroke="currentColor" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z"/>
                                            </svg>
                                            Dnevnik Prijava
                                        </a>
                                    </li>
                                    <li class="cursor-pointer" @click="modalRawDataReader = true">
                                        <a
                                                class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                        >
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z"></path>
                                            </svg>
                                            Raw data čitač
                                        </a>
                                    </li>
                                {% endif %}
                                <!-- Menu Item Messages -->
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Sidebar Menu -->
            </div>
        </aside>

        <!-- ===== Sidebar End ===== -->

        <!-- ===== Content Area Start ===== -->
        <div
                class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden"
        >
            <!-- ===== Header Start ===== -->
            {% block header %}
                {{ parent() }}
            {% endblock %}
            <!-- ===== Header End ===== -->

            <!-- ===== Main Content Start ===== -->
            <main>
                <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
                    {% block flashMessages %}
                        {{ parent() }}
                    {% endblock %}
                    <!-- Breadcrumb Start -->
                    <div
                            class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between"
                    >
                        <h2 class="text-title-md2 font-bold text-black dark:text-white">
                            {{ client.name }}
                        </h2>

                        <nav>
                            <ol class="flex items-center gap-2">
                                <li>
                                    <a class="font-medium" href="{{ path('app_index') }}">Dashboard /</a>
                                </li>
                                <li class="font-medium text-primary">{{ client.name }}</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- Breadcrumb End -->
                    <!--Measurement Devices Start-->
                    {% if user.overviewViews is not null %}
                        {% set overviewType = user.overviewViews %}
                    {% else %}
                        {% set overviewType = client.overviewViews %}
                    {% endif %}

                    {% if overviewType == constant('App\\Entity\\Client::OVERVIEW_THERMOMETER') %}
                        <div class="bg-white dark:bg-boxdark mb-5">
                            <div class="flex justify-between border border-stroke px-6.5 py-4 dark:border-strokedark">
                                <h3 class="font-medium text-black dark:text-white">
                                    Trenutni podaci
                                </h3>
                                <p class="cursor-pointer closeable-btn mb-0">
                                    <svg class="size-6" fill="none" stroke="currentColor"
                                         stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 12h14" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </p>
                            </div>
                            <div class="form-closeable border border-stroke dark:border-strokedark flex justify-evenly flex-wrap">
                                {% for device in devices_table %}
                                    <div class="measurement-device">
                                        <div class="h-40">
                                            <p class="text-center font-bold mb-3 text-black dark:text-white">
                                                {{ device.name }}<br>{{ device.temperatureModel.location }}
                                                <br> {{ device.temperatureModel.name }}
                                            </p>
                                            <p class="text-center font-bold {% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">
                                            {% if device.online %}
                                                {{ device.deviceDate|date('d.m.Y. H:i:s') }}
                                            {% else %}
                                                Nema podataka
                                            {% endif %}
                                            </p>
                                            <p class="turned-off-notification">
                                                {% if device.offline %}
                                                    Uređaj offline {{ device.deviceDate|date('d.m.Y. H:i:s')|timeAgo }}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <p class="flex justify-center mb-3">
                                            <img src="{{ path('app_image_t', {deviceId: device.id, entry: device.entry}) }}">
                                        </p>
                                        <p>
                                        <ul>
                                            <li class="font-bold text-neutral-500 dark:text-neutral-200 flex justify-between">
                                                Trenutna: <span
                                                        class="{% if device.temperatureModel.isInOffset or device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %} GREŠKA {% else %} {{ device.temperatureModel.currentWithUnit }} {% endif %}</span>
                                            </li>
                                            <li class="font-bold text-neutral-500 dark:text-neutral-200 flex justify-between">
                                                Maksimalna: <span
                                                        class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %} GREŠKA {% else %}{{ device.temperatureModel.maximumWithUnit }}{% endif %}</span>
                                            </li>
                                            <li class="font-bold text-neutral-500 dark:text-neutral-200 flex justify-between">
                                                Minimalna: <span
                                                        class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %} GREŠKA {% else %}{{ device.temperatureModel.minimumWithUnit }}{% endif %}</span>
                                            </li>
                                            <li class="font-bold text-neutral-500 dark:text-neutral-200 flex justify-between">
                                                MKT: <span
                                                        class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %} GREŠKA {% else %}{{ device.temperatureModel.meanWithUnit }}{% endif %}</span>
                                            </li>
                                            <li class="font-bold text-neutral-500 dark:text-neutral-200 flex justify-between">
                                                R. vlažnost: <span
                                                        class="{% if device.humidityModel.inOffset or device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %} GREŠKA {% else %}{{ device.humidityModel.currentWithUnit }}{% endif %}</span>
                                            </li>
                                            <li class="measurement-device-note">{{ device.note }}</li>
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% elseif overviewType == constant('App\\Entity\\Client::OVERVIEW_ICONS') %}
                        <div class="bg-white dark:bg-boxdark mb-5">
                            <div class="flex justify-between border border-stroke px-6.5 py-4 dark:border-strokedark">
                                <h3 class="font-medium text-black dark:text-white">
                                    Trenutni podaci
                                </h3>
                                <p class="cursor-pointer closeable-btn mb-0">
                                    <svg class="size-6" fill="none" stroke="currentColor"
                                         stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 12h14" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </p>
                            </div>
                            <div class="form-closeable border border-stroke dark:border-strokedark flex justify-evenly flex-wrap">
                                {% for device in devices_table %}
                                    <div class="measurement-device">
                                        <div class="h-40">
                                            <p class="text-center font-bold mb-3 text-black dark:text-white">
                                                {{ device.name }}<br>{{ device.temperatureModel.location }}
                                                <br> {{ device.temperatureModel.name }}
                                            </p>
                                            <p class="text-center font-bold {% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">
                                                {% if device.online %}
                                                    {{ device.deviceDate|date('d.m.Y. H:i:s') }}
                                                {% else %}
                                                    Nema podataka
                                                {% endif %}
                                            </p>
                                            <p class="turned-off-notification">
                                                {% if device.offline %}
                                                    Uređaj offline {{ device.deviceDate|date('d.m.Y. H:i:s')|timeAgo }}
                                                {% endif %}
                                            </p>
                                        </div>

                                        <div class="h-52">
                                            <p class="flex justify-center mb-3">
                                                <img class="max-h-52" src="{{ asset(device.temperatureModel.image) }}"/>
                                            </p>
                                        </div>

                                        <p>
                                        <ul>
                                            <li class="font-bold text-neutral-500 dark:text-neutral-200 flex justify-between">
                                                Trenutna: <span
                                                        class="{% if device.temperatureModel.isInOffset or device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %} GREŠKA {% else %}{{ device.temperatureModel.currentWithUnit }}{% endif %}</span>
                                            </li>
                                            <li class="font-bold text-neutral-500 dark:text-neutral-200 flex justify-between">
                                                Maksimalna: <span
                                                        class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %} GREŠKA {% else %}{{ device.temperatureModel.maximumWithUnit }}{% endif %}</span>
                                            </li>
                                            <li class="font-bold text-neutral-500 dark:text-neutral-200 flex justify-between">
                                                Minimalna: <span
                                                        class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %} GREŠKA {% else %}{{ device.temperatureModel.minimumWithUnit }}{% endif %}</span>
                                            </li>
                                            <li class="font-bold text-neutral-500 dark:text-neutral-200 flex justify-between">
                                                MKT: <span
                                                        class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %} GREŠKA {% else %}{{ device.temperatureModel.meanWithUnit }}{% endif %}</span>
                                            </li>
                                            <li class="font-bold text-neutral-500 dark:text-neutral-200 flex justify-between">
                                                R. vlažnost: <span
                                                        class="{% if device.humidityModel.inOffset or device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %} GREŠKA {% else %}{{ device.humidityModel.currentWithUnit }}{% endif %}</span>
                                            </li>
                                            <li class="measurement-device-note">{{ device.note }}</li>
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% elseif overviewType == constant('App\\Entity\\Client::OVERVIEW_MAP') %}
                        <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark mb-5 py-3 px-3">
                            <h3 class="title-dt font-bold text-black dark:text-white mb-2">
                                Sve lokacije
                            </h3>
                            <div id="clientMap"></div>
                        </div>
                    {% elseif overviewType == constant('App\\Entity\\Client::OVERVIEW_SCADA') %}
                        <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark mb-5 py-3 px-3">
                            <h3 class="title-dt font-bold text-black dark:text-white">
                                Sve skladišne jedinice
                            </h3>
                            <div x-data="
                      {
                      openTab: 0,
                      activeClasses: 'text-primary dark:text-white border-primary',
                      inactiveClasses: 'border-transparent',
                      visible: 'block',
                      hidden: 'hidden',
                      }
                      " class="mb-14 w-full p-7.5">
                                <div class="mb-3 flex flex-wrap gap-5 border-b border-stroke dark:border-strokedark sm:gap-10">
                                    {% for key, storage in client.clientStorages %}
                                        <div @click="openTab = {{ key }}"
                                             :class="openTab === {{ key }} ? activeClasses : inactiveClasses"
                                             class="storageTitle border-b-2 py-4 relative text-sm font-medium hover:text-primary md:text-base border-primary cursor-pointer">
                                            {{ storage.name }}
                                            {% if user.permission == 4 %}
                                                <a href="{{ path('app_client_storage_get_post', { clientId: client.id, clientStorageId: storage.id }) }}"
                                                   title="Izmeni skadu" class="editClientStorage absolute text-white"
                                                   :class="openTab === {{ key }} ? visible : hidden">
                                                    <div class="absolute inset-0 px-4 py-4 bg-primary rounded-full"></div>
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                         viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                         class="size-6 relative z-10">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/>
                                                    </svg>
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    {% if user.permission == 4 %}
                                        <a href="{{ path('app_client_storage_post', { clientId: client.id }) }}"
                                           title="Dodaj novu skladišnu jedinicu" id="createNewClientStorage"
                                           class="border-b-2 relative mb-3 py-4 text-sm font-medium text-white md:text-base border-transparent">
                                            <div class="absolute inset-0 px-4 py-4 bg-primary rounded-full"></div>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                 stroke-width="1.5" stroke="currentColor"
                                                 class="size-6 relative left-1 z-10">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                            </svg>
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="overflow-x-auto overflow-y-auto">
                                    {% for key, storage in client.clientStorages %}
                                        <div x-show="openTab === {{ key }}"
                                             class="flex tab-image tab-image-{{ key }} relative mx-auto font-medium leading-relaxed"
                                             {% if key != 0 %}style="display: none;"{% endif %}>
                                            <img id="client-storage-{{ key }}" src="{{ asset('assets/images/client-storage/' ~ storage.image) }}"/>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="flex flex-col gap-5 md:gap-7 2xl:gap-10">

                        <!-- ====== Data Table Start -->
                        <div
                                class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
                        >
                            <div
                                    class="data-table-common data-table-two max-w-full overflow-x-auto p-3"
                            >
                                <h3 class="title-dt font-bold text-black dark:text-white">
                                    Pregled mjernih mjesta
                                </h3>
                                <table class="table w-full table-auto" id="dataTableShowClient">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div
                                                    class="flex items-center justify-between gap-1.5"
                                            >
                                                <p>ADRESA</p>
                                                <div class="inline-flex flex-col space-y-[2px]">
                              <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        width="10"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path d="M5 0L0 5H10L5 0Z" fill=""/>
                                </svg>
                              </span>
                                                    <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        width="10"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                          d="M5 5L10 0L-4.37114e-07 8.74228e-07L5 5Z"
                                          fill=""
                                  />
                                </svg>
                              </span>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div
                                                    class="flex items-center justify-between gap-1.5"
                                            >
                                                <p>LOKACIJA</p>
                                                <div class="inline-flex flex-col space-y-[2px]">
                              <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        width="10"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path d="M5 0L0 5H10L5 0Z" fill=""/>
                                </svg>
                              </span>
                                                    <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        width="10"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                          d="M5 5L10 0L-4.37114e-07 8.74228e-07L5 5Z"
                                          fill=""
                                  />
                                </svg>
                              </span>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div
                                                    class="flex items-center justify-between gap-1.5"
                                            >
                                                <p>NAZIV MJERNOG MJESTA</p>
                                                <div class="inline-flex flex-col space-y-[2px]">
                              <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        width="10"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path d="M5 0L0 5H10L5 0Z" fill=""/>
                                </svg>
                              </span>
                                                    <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        width="10"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                          d="M5 5L10 0L-4.37114e-07 8.74228e-07L5 5Z"
                                          fill=""
                                  />
                                </svg>
                              </span>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div
                                                    class="flex items-center justify-between gap-1.5"
                                            >
                                                <p>STATUS</p>
                                            </div>
                                        </th>
                                        <th>
                                            <div
                                                    class="flex items-center justify-between gap-1.5"
                                            >
                                                <p>ALARM</p>
                                            </div>
                                        </th>
                                        <th>
                                            <div
                                                    class="flex items-center justify-between gap-1.5"
                                            >
                                                <p>SIGNAL</p>
                                            </div>
                                        </th>
                                        <th>
                                            <div
                                                    class="flex items-center justify-between gap-1.5"
                                            >
                                                <p>NAPON B.</p>
                                            </div>
                                        </th>
                                        <th>
                                            <div
                                                    class="flex items-center justify-between gap-1.5"
                                            >
                                                <p>STANJE B.</p>
                                            </div>
                                        </th>
                                        <th>
                                            <div
                                                    class="flex items-center justify-between gap-1.5"
                                            >
                                                <p>PODACI</p>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for device in devices_table %}
                                        <tr>
                                            <td>{{ device.name }}</td>
                                            <td>{{ device.temperatureModel.location }}</td>
                                            <td>{{ device.temperatureModel.name }}</td>
                                            <td>
                                                {% if device.online %}
                                                    <span class="text-green-600">Online</span>
                                                {% else %}
                                                    <span class="text-red">Offline</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if device.alarm %}
                                                    <span class="text-red">Aktivan</span>
                                                {% else %}
                                                    <span class="text-green-600">Nije aktivan</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <span class="{% if device.signal < 30 %}text-red{% else %}text-green-600{% endif %}">{{ device.signal }}%</span>
                                            </td>
                                            <td>
                                                <span class="{% if device.power < 2.7 %}text-red{% else %}text-green-600{% endif %}">{{ device.power }}V</span>
                                            </td>
                                            <td>
                                                <span class="{% if device.battery < 30 %}text-red{% else %}text-green-600{% endif %}">{{ device.battery }}%</span>
                                            </td>
                                            <td>
                                                <div class="flex justify-between">
                                                    <a href="{{ path('app_device_entry_show', {id: device.id, clientId: clientId, entry: device.entry }) }}">
                                                        <div class="summary-btn" data-index="0">
                                                            <div class="cursor-pointer" title="Pregled">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                     viewBox="0 0 24 24" stroke-width="1.5"
                                                                     stroke="currentColor" class="size-6">
                                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                                          d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z"/>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    {% if user.permission > 3 %}
                                                        <a href="{{ path('app_device_edit', {deviceId: device.id, clientId: clientId}) }}">
                                                            <div class="edit-btn" data-index="0">
                                                                <div class="cursor-pointer" title="Uredi">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                         viewBox="0 0 24 24" stroke-width="1.5"
                                                                         stroke="currentColor" class="size-6">
                                                                        <path stroke-linecap="round"
                                                                              stroke-linejoin="round"
                                                                              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- ====== Data Table End -->
                        <div
                                x-cloak
                                x-show="modalOpenAddClientSettings"
                                x-transition
                                class="fixed left-0 top-0 z-999999 flex h-full min-h-screen w-full items-center justify-center bg-black/90 px-4 py-5"
                        >
                            <div
                                    @click.outside="modalOpenAddClientSettings = false"
                                    class="modal w-full max-w-7xl rounded-lg bg-white px-8 py-8 text-center dark:bg-boxdark md:px-17.5 md:py-10"
                            >
                                <h3 class="mb-2 text-xl text-left font-bold text-black dark:text-white sm:text-2xl">
                                    Postavke
                                </h3>
                                <form action="{{ path('api_client_settings_update', { clientId: clientId }) }}"
                                      method="POST">
                                    <div class="flex justify-between mb-3 flex-col lg:flex-row">
                                        <!--      START OF FIRST SECTION-->
                                        <div class="mb-5">
                                            <div class="lg:flex lg:justify-between">
                                                <div>
                                                    <label
                                                            class="mb-2 block text-sm text-left font-medium text-black dark:text-white"
                                                    >
                                                        Minimalni nivo baterije za alarmiranje
                                                    </label>
                                                    <input
                                                            value="{{ settings.batteryLevelAlert }}"
                                                            type="text" name="battery_level_alarm"
                                                            placeholder="30"
                                                            class="w-full mb-2 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
                                                    />
                                                </div>
                                                <div class="lg:ml-4">
                                                    <label
                                                            class="mb-2 block text-sm text-left font-medium text-black dark:text-white"
                                                    >
                                                        Aktivan alarm
                                                    </label>
                                                    <div class="mt-3"
                                                         x-data="{ switcherToggle: {{ settings.isBatteryLevelAlarmActive == true ? 'true' : 'false' }} }">
                                                        <label
                                                                for="toggleAlarmActive"
                                                                class="flex cursor-pointer lg:justify-end select-none items-center"
                                                        >
                                                            <div class="relative">
                                                                <input

                                                                        type="checkbox" :checked="switcherToggle"
                                                                        name="is_battery_level_alarm_active"
                                                                        id="toggleAlarmActive"
                                                                        class="sr-only"
                                                                        @change="switcherToggle = !switcherToggle"
                                                                />
                                                                <div
                                                                        :class="switcherToggle && '!bg-primary'"
                                                                        class="block h-8 w-14 rounded-full bg-black"
                                                                ></div>
                                                                <div
                                                                        :class="switcherToggle && '!right-1 !translate-x-full'"
                                                                        class="absolute left-1 top-1 flex h-6 w-6 items-center justify-center rounded-full bg-white transition"
                                                                ></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-10 mt-3 lg:mt-0 lg:flex lg:justify-between">
                                                <div>
                                                    <label
                                                            class="mb-2 block text-sm text-left font-medium text-black dark:text-white"
                                                    >
                                                        Minimalni nivo signala za alarmiranje
                                                    </label>
                                                    <input
                                                            value="{{ settings.deviceSignalAlarm }}"
                                                            type="text" name="device_signal_level"
                                                            placeholder="30"
                                                            class="w-full mb-2 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
                                                    />
                                                </div>
                                                <div class="lg:ml-4">
                                                    <label
                                                            class="mb-2 block text-sm text-left font-medium text-black dark:text-white"
                                                    >
                                                        Aktivan alarm
                                                    </label>
                                                    <div class="mt-3"
                                                         x-data="{ switcherToggle: {{ settings.isDeviceSignalAlarmActive == true ? 'true' : 'false' }} }">
                                                        <label
                                                                for="toggleAlarmMinimumActive"
                                                                class="flex cursor-pointer lg:justify-end select-none items-center"
                                                        >
                                                            <div class="relative">
                                                                <input
                                                                        type="checkbox" :checked="switcherToggle"
                                                                        name="is_device_signal_level_active"
                                                                        id="toggleAlarmMinimumActive"
                                                                        class="sr-only"
                                                                        @change="switcherToggle = !switcherToggle"
                                                                />
                                                                <div
                                                                        :class="switcherToggle && '!bg-primary'"
                                                                        class="block h-8 w-14 rounded-full bg-black"
                                                                ></div>
                                                                <div
                                                                        :class="switcherToggle && '!right-1 !translate-x-full'"
                                                                        class="absolute left-1 top-1 flex h-6 w-6 items-center justify-center rounded-full bg-white transition"
                                                                ></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <label
                                                    class="mb-2 font-bold block text-sm text-left text-black dark:text-white"
                                            >
                                                Aktivni alarmi:
                                            </label>
                                            <div class="lg:flex">
                                                <div class="lg:flex">
                                                    <label
                                                            class="mb-2 mt-1 block text-sm text-left font-medium text-black dark:text-white"
                                                    >
                                                        Uređaj offline:
                                                    </label>
                                                    <div class="lg:ml-5"
                                                         x-data="{ switcherToggle: {{ settings.isDeviceOfflineAlarmActive == true ? 'true' : 'false' }} }">
                                                        <label
                                                                for="toggleOffline"
                                                                class="flex cursor-pointer select-none items-center"
                                                        >
                                                            <div class="relative">
                                                                <input
                                                                        type="checkbox" :checked="switcherToggle"
                                                                        name="is_device_offline_alarm_active"
                                                                        id="toggleOffline"
                                                                        class="sr-only"
                                                                        @change="switcherToggle = !switcherToggle"
                                                                />
                                                                <div
                                                                        :class="switcherToggle && '!bg-primary'"
                                                                        class="block h-8 w-14 rounded-full bg-black"
                                                                ></div>
                                                                <div
                                                                        :class="switcherToggle && '!right-1 !translate-x-full'"
                                                                        class="absolute left-1 top-1 flex h-6 w-6 items-center justify-center rounded-full bg-white transition"
                                                                ></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="lg:flex lg:ml-4">
                                                    <label
                                                            class="mb-2 mt-1 block text-sm text-left font-medium text-black dark:text-white"
                                                    >
                                                        Greška na senzoru:
                                                    </label>
                                                    <div class="lg:ml-3"
                                                         x-data="{ switcherToggle: {{ settings.isDeviceSensorErrorAlarmActive == true ? 'true' : 'false' }} }">
                                                        <label
                                                                for="toggleErrorSensor"
                                                                class="flex cursor-pointer select-none items-center"
                                                        >
                                                            <div class="relative">
                                                                <input
                                                                        type="checkbox" :checked="switcherToggle"
                                                                        name="is_device_sensor_error_alarm_active"
                                                                        id="toggleErrorSensor"
                                                                        class="sr-only"
                                                                        @change="switcherToggle = !switcherToggle"
                                                                />
                                                                <div
                                                                        :class="switcherToggle && '!bg-primary'"
                                                                        class="block h-8 w-14 rounded-full bg-black"
                                                                ></div>
                                                                <div
                                                                        :class="switcherToggle && '!right-1 !translate-x-full'"
                                                                        class="absolute left-1 top-1 flex h-6 w-6 items-center justify-center rounded-full bg-white transition"
                                                                ></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lg:flex lg:mt-5 lg:justify-between">
                                                <div class="lg:flex">
                                                    <label
                                                            class="mb-2 mt-1 block text-sm text-left font-medium text-black dark:text-white"
                                                    >
                                                        Za temperaturu:
                                                    </label>
                                                    <div class="lg:ml-2"
                                                         x-data="{ switcherToggle: {{ settings.isTemperatureAlarmActive == true ? 'true' : 'false' }} }">
                                                        <label
                                                                for="toggleTemp"
                                                                class="flex cursor-pointer select-none items-center"
                                                        >
                                                            <div class="relative">
                                                                <input
                                                                        type="checkbox" :checked="switcherToggle"
                                                                        name="is_temperature_alarm_active"
                                                                        id="toggleTemp"
                                                                        class="sr-only"
                                                                        @change="switcherToggle = !switcherToggle"
                                                                />
                                                                <div
                                                                        :class="switcherToggle && '!bg-primary'"
                                                                        class="block h-8 w-14 rounded-full bg-black"
                                                                ></div>
                                                                <div
                                                                        :class="switcherToggle && '!right-1 !translate-x-full'"
                                                                        class="absolute left-1 top-1 flex h-6 w-6 items-center justify-center rounded-full bg-white transition"
                                                                ></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="lg:flex">
                                                    <label
                                                            class="mb-2 mr-3 mt-1 block text-sm text-left font-medium text-black dark:text-white"
                                                    >
                                                        Za vlagu:
                                                    </label>
                                                    <div x-data="{ switcherToggle: {{ settings.isHumidityAlarmActive == true ? 'true' : 'false' }} }">
                                                        <label
                                                                for="toggleHumidityAlarm"
                                                                class="flex cursor-pointer select-none items-center"
                                                        >
                                                            <div class="relative">
                                                                <input
                                                                        type="checkbox" :checked="switcherToggle"
                                                                        name="is_humidity_alarm_active"
                                                                        id="toggleHumidityAlarm"
                                                                        class="sr-only"
                                                                        @change="switcherToggle = !switcherToggle"
                                                                />
                                                                <div
                                                                        :class="switcherToggle && '!bg-primary'"
                                                                        class="block h-8 w-14 rounded-full bg-black"
                                                                ></div>
                                                                <div
                                                                        :class="switcherToggle && '!right-1 !translate-x-full'"
                                                                        class="absolute left-1 top-1 flex h-6 w-6 items-center justify-center rounded-full bg-white transition"
                                                                ></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--      END OF FIRST SECTION-->
                                        <!--      START OF SECOND SECTION-->
                                        <div class="min-w-80 mb-5">
                                            <div>
                                                <label
                                                        class="mb-2 block text-sm text-left font-medium text-black dark:text-white"
                                                >
                                                    Email za alarmiranje 1
                                                </label>
                                                <input
                                                        value="{% if settings.alarmNotificationList[0] is defined %}{{ settings.alarmNotificationList[0] }}{% endif %}"
                                                        type="text"
                                                        name="email_list1"
                                                        placeholder="user@domen.com"
                                                        class="w-full mb-2 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
                                                />
                                            </div>
                                            <div>
                                                <label
                                                        class="mb-2 block text-sm text-left font-medium text-black dark:text-white"
                                                >
                                                    Email za alarmiranje 2
                                                </label>
                                                <input
                                                        value="{% if settings.alarmNotificationList[1] is defined %}{{ settings.alarmNotificationList[1] }}{% endif %}"
                                                        type="text"
                                                        name="email_list2"
                                                        placeholder="user@domen.com"
                                                        class="w-full mb-2 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
                                                />
                                            </div>
                                            <div>
                                                <label
                                                        class="mb-2 block text-sm text-left font-medium text-black dark:text-white"
                                                >
                                                    Email za alarmiranje 3
                                                </label>
                                                <input
                                                        value="{% if settings.alarmNotificationList[2] is defined %}{{ settings.alarmNotificationList[2] }}{% endif %}"
                                                        type="text"
                                                        name="email_list3"
                                                        placeholder="user@domen.com"
                                                        class="w-full mb-2 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
                                                />
                                            </div>
                                            <div>
                                                <label
                                                        class="mb-2 block text-sm text-left font-medium text-black dark:text-white"
                                                >
                                                    Email za alarmiranje 4
                                                </label>
                                                <input
                                                        value="{% if settings.alarmNotificationList[3] is defined %}{{ settings.alarmNotificationList[3] }}{% endif %}"
                                                        type="text"
                                                        name="email_list4"
                                                        placeholder="user@domen.com"
                                                        class="w-full mb-2 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
                                                />
                                            </div>
                                            <div>
                                                <label
                                                        class="mb-2 block text-sm text-left font-medium text-black dark:text-white"
                                                >
                                                    Email za alarmiranje 5
                                                </label>
                                                <input
                                                        value="{% if settings.alarmNotificationList[4] is defined %}{{ settings.alarmNotificationList[4] }}{% endif %}"
                                                        type="text"
                                                        name="email_list5"
                                                        placeholder="user@domen.com"
                                                        class="w-full mb-2 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
                                                />
                                            </div>
                                        </div>
                                        <!--      END OF SECOND SECTION-->
                                        <!--      START OF THIRD SECTION-->
                                        <div class="min-w-60">
                                            <div>
                                                <label
                                                        class="mb-2 block text-sm text-left font-medium text-black dark:text-white"
                                                >
                                                    FTP poslužitelj
                                                </label>
                                                <input
                                                        value="{{ ftp.host }}"
                                                        type="text"
                                                        name="host"
                                                        placeholder="domen.net"
                                                        class="w-full mb-2 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
                                                />
                                            </div>
                                            <div>
                                                <label
                                                        class="mb-2 block text-sm text-left font-medium text-black dark:text-white"
                                                >
                                                    FTP korisničko ime
                                                </label>
                                                <input
                                                        value="{{ ftp.username }}"
                                                        type="text"
                                                        name="username"
                                                        placeholder="korisnik@domen.net"
                                                        class="w-full mb-2 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
                                                />
                                            </div>
                                            <div>
                                                <label
                                                        class="mb-2 block text-sm text-left font-medium text-black dark:text-white"
                                                >
                                                    FTP zaporka
                                                </label>
                                                <input
                                                        value="{{ ftp.password }}"
                                                        type="password"
                                                        name="password"
                                                        placeholder="•••••••••••"
                                                        class="w-full mb-2 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-2 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
                                                />
                                            </div>
                                        </div>
                                        <!--      END OF THIRD SECTION-->
                                    </div>

                                    <div class="-mx-3 pt-3 flex flex-wrap gap-y-4 border-t-2">
                                        <div class="w-full px-3 2xsm:w-1/2">
                                            <button
                                                    class="block w-1/2 mx-auto rounded border border-primary bg-primary p-3 text-center font-medium text-white transition hover:bg-opacity-90"
                                            >
                                                Spremi promjene
                                            </button>
                                        </div>
                                        <div class="w-full px-3 2xsm:w-1/2">
                                            <button
                                                    type="button"
                                                    @click="modalOpenAddClientSettings = false"
                                                    class="block w-1/2 mx-auto rounded border border-stroke bg-gray p-3 text-center font-medium text-black transition hover:border-meta-1 hover:bg-meta-1 hover:text-white dark:border-strokedark dark:bg-meta-4 dark:text-white dark:hover:border-meta-1 dark:hover:bg-meta-1"
                                            >
                                                Odustani
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div
                                x-cloak
                                x-show="modalRawDataReader"
                                x-transition
                                class="fixed left-0 top-0 z-999999 flex h-full min-h-screen w-full items-center justify-center bg-black/90 px-4 py-5"
                        >
                            <div
                                    @click.outside="modalRawDataReader = false"
                                    class="modal w-full max-w-142.5 rounded-lg bg-white px-8 py-8 text-center dark:bg-boxdark md:px-17.5 md:py-10"
                            >
                                <h3 class="mb-2 text-xl text-left font-bold text-black dark:text-white sm:text-2xl">
                                    Raw data čitač
                                </h3>
                                <form action="{{ path('api_raw-data-reader') }}"
                                      method="POST"
                                      target="_blank"
                                      enctype="multipart/form-data"
                                >
                                    <div class="flex justify-between mb-3 flex-col lg:flex-row">
                                        <!--      START OF FIRST SECTION-->
                                        <div class="mb-5">
                                            <div class="lg:flex lg:justify-between">
                                                <div>
                                                    <label
                                                            class="mb-2 block text-sm text-left font-medium text-black dark:text-white"
                                                    >
                                                        Unesite .enc file
                                                    </label>
                                                    <input
                                                            type="file" name="raw_data_file"
                                                            class="w-full mb-2 cursor-pointer rounded-lg border-[1.5px] border-stroke bg-transparent font-normal outline-none transition file:mr-5 file:border-collapse file:cursor-pointer file:border-0 file:border-r file:border-solid file:border-stroke file:bg-whiter file:px-5 file:py-2 file:hover:bg-primary file:hover:bg-opacity-10 focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:file:border-form-strokedark dark:file:bg-white/30 dark:file:text-white dark:focus:border-primary"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <!--      END OF FIRST SECTION-->
                                    </div>

                                    <div class="-mx-3 pt-3 flex flex-wrap gap-y-4 border-t-2">
                                        <div class="w-full px-3 2xsm:w-1/2">
                                            <button
                                                    class="block w-1/2 mx-auto rounded border border-primary bg-primary p-3 text-center font-medium text-white transition hover:bg-opacity-90"
                                            >
                                                Pročitaj
                                            </button>
                                        </div>
                                        <div class="w-full px-3 2xsm:w-1/2">
                                            <button
                                                    type="button"
                                                    @click="modalRawDataReader = false"
                                                    class="block w-1/2 mx-auto rounded border border-stroke bg-gray p-3 text-center font-medium text-black transition hover:border-meta-1 hover:bg-meta-1 hover:text-white dark:border-strokedark dark:bg-meta-4 dark:text-white dark:hover:border-meta-1 dark:hover:bg-meta-1"
                                            >
                                                Odustani
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
            <!-- ===== Main Content End ===== -->
        </div>
        <!-- ===== Content Area End ===== -->
    </div>
    <!-- ===== Page Wrapper End ===== -->
    <!-- ===== Show Input Fields Logic Scripts ===== -->
    <script>
        $(document).ready(function () {
            //options can be sent from backend
            let textInputTemplate = `<p class="absolute" style="{hasBg} top: {y}px; left:{x}px; font-size: {fontSize}px; color:{color}">{text}</p>`;
            let dropDownInputTemplate = `<a target="_blank" href="{href}" class="absolute" style="{hasBg} text-decoration:underline; top: {y}px; left:{x}px; font-size: {fontSize}px; color:{color}">{text}</a>`;

            function createInput(tabKey, type, x, y, color, text, hasBg, fontSize = 16, href = "") {
                let $inputContainer = $(".tab-image-" + tabKey);
                let elementHTML = "";

                if (type === "text") {
                    elementHTML = textInputTemplate
                        .replace("{x}", x + Math.ceil(fontSize / 2) + 10)
                        .replace("{y}", y + Math.ceil(fontSize / 2))
                        .replace("{fontSize}", fontSize)
                        .replace("{hasBg}", hasBg ? "background: #000000; padding:2px; opacity: 0.65;" : "")
                        .replace("{color}", color)
                        .replace("{text}", text);
                } else {
                    elementHTML = dropDownInputTemplate
                        .replace("{x}", x + Math.ceil(fontSize / 2) + 10)
                        .replace("{y}", y + Math.ceil(fontSize / 2))
                        .replace("{fontSize}", fontSize)
                        .replace("{hasBg}", hasBg ? "background: #000000; padding:2px; opacity: 0.65;" : "")
                        .replace("{color}", color)
                        .replace("{text}", text)
                        .replace("{href}", href);
                }

                const txt = document.createElement('textarea');
                txt.innerHTML = elementHTML;

                // Append the generated element to the container
                $inputContainer.append(txt.value);
            }

            {% for key, storage in client_storages %}
                {% for input in storage %}
                    createInput({{ key }}, "{{ input.type }}", {{ input.positionX }}, {{ input.positionY }}, "{{ input.fontColor }}", "{{ input.text }}", {{ input.activeBackground ? 'true' : 'false' }}, {{ input.fontSize }}, {% if input.url %}"{{ input.url }}"{% else %}null{% endif %});
                {% endfor %}
            {% endfor %}
        });
    </script>
    <!-- ===== Show Input Fields Logic Scripts End ===== -->
    </body>
{% endblock %}
