{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
          $('.hide_btn').click(function() { /* ALERT HIDE */
            $(this).parent().fadeOut(300);
            return false;
          });
        });
    </script>
{% endblock %}
{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div id="loginbox">
            <div id="loginform">
                <form name="login" method="POST">
                    {% if error %}
                        <div class="error"><h3>Pogrešni podaci!</h3><a href="#" class="hide_btn">&nbsp;</a></div>
                    {% endif %}
                    <div id="username_field">
                        <input type="text" value="{{ last_username }}" class="form-control" name="username" aria-describedby="username" placeholder="Korisničko ime">
                    </div>
                    <div id="password_field">
                        <input type="password" class="form-control" name="password" placeholder="Zaporka">
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <div id="buttonline">
                        <input type="submit" id="loginbutton" class="float_left width_4" value="Prijava" />
                    </div>
                </form>
            </div>
            {#            <div id="loginform">#}
            {#                <form method="post">#}
            {#                    <div id="username_field">#}
            {#                        <input type="text" id="username" name="_username" placeholder="Korisničko ime" class="required error" value="" />#}
            {#                    </div>#}
            {#                    <div id="password_field">#}
            {#                        <input type="password" id="password" name="_password" placeholder="Zaporka" class="required error" value="" />#}
            {#                    </div>#}
            {#                    <div id="buttonline">#}
            {#                        <input type="submit" id="loginbutton" class="float_left width_4" value="Prijava" />#}
            {#                    </div>#}
            {#                    <div id="logininfo" style="display:none"></div>#}
    </div>
{% endblock %}

