{% extends 'v1/base.html.twig' %}

{% block javascripts %}
{{ parent() }}
    <script>
      function edit_note(record_id) {

        let selector = $("#" + record_id);
        let entry = selector.data('entry');
        let note = selector.data('note');

        $('#note').val(note);

        $('#edit-form').attr('title', 'Izmena napomene');

        $('#edit-form').dialog({
          autoOpen: true,
          show: {
            effect: 'drop',
            duration: 200
          },
          hide: {
            effect: 'drop',
            duration: 200
          },
          resizable: false,
          modal: true,
          buttons: {
            'Spremi promjene': function () {
              $.ajax({
                url: '/api/device/data/' + record_id + '/' + entry,
                type: 'PATCH',
                data: {
                  note: $('#note').val()
                },
                dataType: 'json',
                success: function() {
                  $('#edit-form').dialog('close');
                  location.reload()
                },
                error: function() {
                  alert('Greška! Molimo pokušajte ponovo');
                }
              })
              return false;
            },
            'Odustani': function () {
              $(this).dialog('close');
            }
          },
          close: function () {
            $(this).dialog('destroy');
          }
        });
      }
      $(document).ready(function() {

        $('.toggle').click(function() { /* BLOCK TOGGLE */
          $(this).toggleClass('show');
          $(this).parent().parent().children('.block_cont').slideToggle(300);
          $(this).parent().toggleClass('show');
          return false;
        });

        $('#preview').click(function() { /* PREVIEW DATA */
          $('#exportform').attr('action', "{{ path('app_device_export', {clientId: clientId, id: device.id, entry:entry}) }}?date_from=" + $("#date_from").val() + '&date_to=' + $("#date_to").val())
            .submit();
        });

        $('#xls').click(function() { /* DOWNLOAD XLS */
          $('#exportform').attr('action', "{{ path('app_device_export', {clientId: clientId, id: device.id, entry:entry}) }}?date_from=" + $("#date_from").val() + '&date_to=' + $("#date_to").val() + "&export=xlsx")
            .submit();
        });

        $('#pdf').click(function() { /* DOWNLOAD PDF */
          $('#exportform').attr('action', "{{ path('app_device_export', {clientId: clientId, id: device.id, entry:entry}) }}?date_from=" + $("#date_from").val() + '&date_to=' + $("#date_to").val() + "&export=pdf")
            .submit();
        });

        $('.tipTop').tipsy({gravity: 's', fade: true}); /* TOOLTIP CLASS */
        $('.tipBot').tipsy({gravity: 'n', fade: true}); /* TOOLTIP CLASS */
        $('.tipLeft').tipsy({gravity: 'e', fade: true}); /* TOOLTIP CLASS */
        $('.tipRight').tipsy({gravity: 'w', fade: true}); /* TOOLTIP CLASS */

        $('.ie #userbar').corner('top 5px'); /* IE BORDER-RADIUS FIX */
        $('.ie .titlebar').corner('top 5px'); /* IE BORDER-RADIUS FIX */
        $('.ie .block_cont').corner('bottom 5px'); /* IE BORDER-RADIUS FIX */
        $('.ie .error, .ie .warning, .ie .success, .ie .information').corner('5px'); /* IE BORDER-RADIUS FIX */

        $('.dateinput').datepicker({
          'dateFormat': 'dd.mm.yy.',
          'constrainInput': true
        });

        $('#table').wrap('<div class="table-wrap" />'); /* NORMAL TABLE */
        $('#table tr:even').addClass('even'); /* ODD/EVEN TABLEROW CLASS */
        $('#table').dataTable({
          pageLength: 100,
          ordering: false,
          language: {
            search: "Pretraga",
            loading: "Ucitavanje...",
            lengthMenu: '_MENU_ broj prikaza',
            emptyTable: 'Prazna tablica',
            info: 'Prikaz _START_ od _END_ od ukupno _TOTAL_ rezultata',
            infoEmpty: '',
            infoFiltered: '(filtrirano od _MAX_ rezultata)',
          },
          columnDefs: [
            { className: 'dt-center', targets: '_all' }
          ],
        }); /* DATA TABLES */

        $('div.actionbar a.edit').click(function() { /* EDIT ICON */
          edit_note($(this).parent().attr('id'));
          return false;
        });
      });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #date_from, #date_to {
            background: transparent;
        }
    </style>
{% endblock %}

{% block navigation %}
    <li><a href="#" id="preview" class="icon_target">Prikaži</a></li>
    <li><a href="#" id="xls" class="icon_xls">Preuzmi excel</a></li>
    <li><a href="#" id="pdf" class="icon_pdf">Preuzmi PDF</a></li>
    <li><a href="{{ path('app_device_entry_show', {clientId: clientId, id: device.id, entry:entry}) }}" class="icon_left">Povratak</a></li>
{% endblock %}

{% block userbar %}
<div id="infoarea"><!-- Infoarea Begin -->
    <div id="infomsg">
        <form id="exportform" class="form" action="{{ app.request.getBaseURL() }}" method="POST"><!-- Header Search Begin -->
            <div class="datediv"><input value="{{ date_to|date('d.m.Y') }}" type="text" id="date_to" name="date_to" class="dateinput tipLeft" placeholder="Kraj dat." original-title="Odaberite krajnji datum za izvoz podataka" /></div>
            <div class="datediv" style="margin-right:10px;"><input value="{{ date_from|date('d.m.Y') }}" type="text" id="date_from" name="date_from" class="dateinput tipLeft" placeholder="Start dat." original-title="Odaberite početni datum za izvoz podataka" /></div>
        </form>
    </div>
</div><!-- Infoarea End -->
{% endblock %}
{% block content %}
    <div id="edit-form" title="Urijedi napomenu" style="display:none;">
        <form id="editform" class="form" action="#" method="POST">
            <fieldset>
                <label for="note" style="display:block; margin-top:12px;">Napomena</label>
                <input type="text" name="note" id="note" class="input validate[required,maxSize[60]] text ui-widget-content ui-corner-all" style="display:block; width:95%; padding: .4em;"/>
            </fieldset>
        </form>
    </div>

    <div id="body">
        <div class="block big"><!-- Block Begin -->
            <div class="titlebar">
                <h3>Izvoz podataka za lokaciju {{ device.getEntryData(entry).t_location }}, mjerno mjesto {{ device.getEntryData(entry).t_name }}</h3>
                <a href="#" class="toggle">&nbsp;</a>
            </div>
            <div class="block_cont" style="padding: 4px;">
                <table id="table" class="data-table-border stripe compact hover"><!-- Table Wrapper Begin -->
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="5">{{ device.getEntryData(entry).t_name }}</th>
                        </tr>
                        <tr>
                            <th>DATUM</th>
                            <th>NAPOMENA</th>
                            <th>TREN.</th>
                            <th>MAKS.</th>
                            <th>MIN.</th>
                            <th>MKT</th>
                            <th>VL.</th>
                            <th>Opcije</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for data in table_data %}
                        <tr>
                            <td>{{ data.date }}</td>
                            <td class="note">{{ data.note }}</td>
                            <td>{{ data.temp }}</td>
                            <td>{{ data.max }}</td>
                            <td>{{ data.min }}</td>
                            <td>{{ data.avrg }}</td>
                            <td>{{ data.rh }}</td>
                            <td>
                                <div id="{{ data.id }}" class="actionbar" data-note="{{ data.note }}" data-entry="{{ data.entry }}">
                                    <a href="#" class="action edit"><span>Napomena</span></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table><!-- Table Wrapper End -->
            </div>
        </div><!-- Block End -->
    </div>
{% endblock %}