{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
    <script>
      $(document).ready(function() {

        $('.toggle').click(function() { /* BLOCK TOGGLE */
          $(this).toggleClass('show');
          $(this).parent().parent().children('.block_cont').slideToggle(300);
          $(this).parent().toggleClass('show');
          return false;
        });

        $('#preview').click(function() { /* PREVIEW DATA */
          $('#exportform').attr('action', "{{ path('app_alarm_export', {clientId: clientId, id: device.id}) }}?date_from=" + $("#date_from").val() + '&date_to=' + $("#date_to").val())
            .submit();
        });

        $('#xls').click(function() { /* DOWNLOAD XLS */
          $('#exportform').attr('action', "{{ path('app_alarm_export', {clientId: clientId, id: device.id}) }}?date_from=" + $("#date_from").val() + '&date_to=' + $("#date_to").val() + "&export=xlsx")
            .submit();
        });

        $('#pdf').click(function() { /* DOWNLOAD XLS */
          $('#exportform').attr('action', "{{ path('app_alarm_export', {clientId: clientId, id: device.id}) }}?date_from=" + $("#date_from").val() + '&date_to=' + $("#date_to").val() + "&export=pdf")
            .submit();
        });

        $('.tipTop').tipsy({gravity: 's', fade: true}); /* TOOLTIP CLASS */
        $('.tipBot').tipsy({gravity: 'n', fade: true}); /* TOOLTIP CLASS */
        $('.tipLeft').tipsy({gravity: 'e', fade: true}); /* TOOLTIP CLASS */
        $('.tipRight').tipsy({gravity: 'w', fade: true}); /* TOOLTIP CLASS */

        $('.ie #userbar').corner('top 5px'); /* IE BORDER-RADIUS FIX */
        $('.ie .titlebar').corner('top 5px'); /* IE BORDER-RADIUS FIX */
        $('.ie .block_cont').corner('bottom 5px'); /* IE BORDER-RADIUS FIX */
        $('.ie .error, .ie .warning, .ie .success, .ie .information').corner('5px'); /* IE BORDER-RADIUS FIX */

        $('.dateinput').datepicker({
          'dateFormat': 'dd.mm.yy.',
          'constrainInput': true
        });

        $('#table').wrap('<div class="table-wrap" />'); /* NORMAL TABLE */
        $('#table tr:even').addClass('even'); /* ODD/EVEN TABLEROW CLASS */
        $('#table').dataTable({
          pageLength: 25,
          language: {
            search: "Pretraga",
            loading: "Ucitavanje...",
            lengthMenu: '_MENU_ broj prikaza',
            emptyTable: 'Prazna tablica',
            info: 'Prikaz _START_ od _END_ od ukupno _TOTAL_ rezultata',
            infoEmpty: '',
            infoFiltered: '(filtrirano od _MAX_ rezultata)',
          },
          columns: [
            {
              data: 'id',
              orderable: false
            }, {
              data: 'date',
              orderable: false
            }, {
              data: 'note',
              orderable: false
            }, {
              data: 'temp',
              orderable: false
            }, {
              data: 'max',
              orderable: false
            }, {
              data: 'min',
              orderable: false
            }
          ],
          columnDefs: [
            { className: 'dt-center', targets: '_all' }
          ],
        }); /* DATA TABLES */
      });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #date_from, #date_to {
            background: transparent;
        }
    </style>
{% endblock %}

{% block navigation %}
    <li><a href="#" id="xls" class="icon_xls">Preuzmi excel</a></li>
    <li><a href="#" id="pdf" class="icon_pdf">Preuzmi PDF</a></li>
{#    <li><a href="{{ path('app_device_entry_show', {id: device.id, entry:entry}) }}" class="icon_left">Povratak</a></li>#}
{% endblock %}

{% block content %}
    <div id="body">
        <div class="block big"><!-- Block Begin -->
            <div class="titlebar">
                <h3>LISTA ALARMA ZA MJERNI UREĐAJ {{ device.name }}</h3>
                <a href="#" class="toggle">&nbsp;</a>
            </div>
            <div class="block_cont" style="padding: 4px;">
                <table id="table" class="stripe compact hover"><!-- Table Wrapper Begin -->
                    <thead>
                        <tr>
                            <th>BR.</th>
                            <th>DATUM</th>
                            <th>DATUM PRESTANKA</th>
                            <th>AKTIVAN</th>
                            <th>MJERNO MJESTO</th>
                            <th>VRSTA ALARMA</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for alarm in alarms %}
                        <tr>
                            <td></td>
                            <td>{{ alarm.date|date('d.m.Y H:i:s') }}</td>
                            <td>{% if alarm.end_date is not null %}{{ alarm.end_date|date('d.m.Y H:i:s') }}{% endif %}</td>
                            <td>
                                 {% if alarm.active %}
                                     <span class="green">Ne</span>
                                 {% else %}
                                     <span class="red">Da</span>
                                 {% endif %}
                            </td>
                            <td>{{ alarm.place }}</td>
                            <td>{{ alarm.type }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table><!-- Table Wrapper End -->
            </div>
        </div><!-- Block End -->
    </div>
{% endblock %}