{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
    <script>
      $(document).ready(function() {

        $('.toggle').click(function() { /* BLOCK TOGGLE */
          $(this).toggleClass('show');
          $(this).parent().parent().children('.block_cont').slideToggle(300);
          $(this).parent().toggleClass('show');
          return false;
        });

        $('.tipTop').tipsy({gravity: 's', fade: true}); /* TOOLTIP CLASS */
        $('.tipBot').tipsy({gravity: 'n', fade: true}); /* TOOLTIP CLASS */
        $('.tipLeft').tipsy({gravity: 'e', fade: true}); /* TOOLTIP CLASS */
        $('.tipRight').tipsy({gravity: 'w', fade: true}); /* TOOLTIP CLASS */

        $('.ie #userbar').corner('top 5px'); /* IE BORDER-RADIUS FIX */
        $('.ie .titlebar').corner('top 5px'); /* IE BORDER-RADIUS FIX */
        $('.ie .block_cont').corner('bottom 5px'); /* IE BORDER-RADIUS FIX */
        $('.ie .error, .ie .warning, .ie .success, .ie .information').corner('5px'); /* IE BORDER-RADIUS FIX */

        $('#otable').wrap('<div class="table-wrap" />'); /* NORMAL TABLE */
        $('#otable tr:even').addClass('even'); /* ODD/EVEN TABLEROW CLASS */
        $('#otable').dataTable({
          'sDom': '<"data-table-top"><"clear"><"table-wrap"rt><"clear"><"data-table-bottom"><"clear">',
          'bJQueryUI': true,
          'bPaginate': false,
          'bProcessing': true,
          ajax: "{{ path('api_devicedataarchive_getdailydata', {clientId: clientId, id: device.id, entry: entry}) }}",
          'bInfo': false,
          'bFilter': false,
          columnDefs: [
            { className: 'dt-center', targets: '_all' }
          ],
          'fnDrawCallback': function(oSettings) {
            if (oSettings.bSorted || oSettings.bFiltered) {
              for (var i = 0, iLen = oSettings.aiDisplay.length; i < iLen; i++) {
                $('td:eq(0)', oSettings.aoData[oSettings.aiDisplay[i]].nTr).html(i+1);
              }
            }
          }
        });/* DATA TABLES */

        $('#daily').click(function() { /* DAILY ARCHIVE */
          if (!$(this).parent().hasClass('activepage')) {
            let table = $('#otable').DataTable();

            table.ajax.url("{{ path('api_devicedataarchive_getdailydata', {clientId: clientId, id: device.id, entry: entry}) }}").load();

            $(this).parent().attr('class','activepage');
            $('#monthly').parent().attr('class','');
            $('#archive_typetitle').fadeOut(300, function() {
              $(this).html('Dnevna').fadeIn(300);
            });
            $('#archive_typeth').fadeOut(300, function() {
              $(this).html('Datum').fadeIn(300);
            });
          }
          return false;
        });

        $('#monthly').click(function() { /* DAILY ARCHIVE */
          if (!$(this).parent().hasClass('activepage')) {
            let table = $('#otable').DataTable();

            table.ajax.url("{{ path('app_api_devicedataarchive_getmonthlydata', {clientId: clientId, id: device.id, entry: entry}) }}").load();
            $(this).parent().attr('class','activepage');
            $('#daily').parent().attr('class','');
            $('#archive_typetitle').fadeOut(300, function() {
              $(this).html('Mjesečna').fadeIn(300);
            });
            $('#archive_typeth').fadeOut(300, function() {
              $(this).html('Mjesec').fadeIn(300);
            });
          }
          return false;
        });

      });
    </script>
{% endblock %}

{% block navigation %}
    <li class="activepage"><a href="#" id="daily" class="icon_down">Dnevna arhiva</a></li>
    <li><a href="#" id="monthly" class="icon_calendar">Mjesečna arhiva</a></li>
    <li><a href="{{ path('app_device_entry_show', {clientId: clientId, id: device.id, entry: entry}) }}" class="icon_left">Povratak</a></li>
{% endblock %}

{% block content %}
    <div id="body">
        <div class="block big"><!-- Block Begin -->
            <div class="titlebar">
                <h3><span id="archive_typetitle">Dnevna</span> arhiva za lokaciju {{ device.getEntryData(entry).t_location }}, mjerno mjesto {{ device.getEntryData(entry).t_name }}</h3>
                <a href="#" class="toggle">&nbsp;</a>
            </div>
            <div class="block_cont" style="padding: 4px;">
                <table id="otable" class="data-table-border stripe compact hover"><!-- Table Wrapper Begin -->
                    <thead>
                    <tr>
                        <th width="40" class="sorting_disabled"></th>
                        <th><span id="archive_typeth">Datum</span> arhive</th>
                        <th>Datum izrade</th>
                        <th width="80" class="sorting_disabled">Excel</th>
                        <th width="80" class="sorting_disabled">PDF</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table><!-- Table Wrapper End -->
            </div>
        </div><!-- Block End -->
    </div>
{% endblock %}