{% extends 'v1/base.html.twig' %}

{% block javascripts %}
  {{ parent() }}
<script>
  $(document).ready(function() {

    $('.toggle').click(function() { /* BLOCK TOGGLE */
      $(this).toggleClass('show');
      $(this).parent().parent().children('.block_cont').slideToggle(300);
      $(this).parent().toggleClass('show');
      return false;
    });

    $('.tipTop').tipsy({gravity: 's', fade: true}); /* TOOLTIP CLASS */
    $('.tipBot').tipsy({gravity: 'n', fade: true}); /* TOOLTIP CLASS */
    $('.tipLeft').tipsy({gravity: 'e', fade: true}); /* TOOLTIP CLASS */
    $('.tipRight').tipsy({gravity: 'w', fade: true}); /* TOOLTIP CLASS */

    $('.ie #userbar').corner('top 5px'); /* IE BORDER-RADIUS FIX */
    $('.ie .titlebar').corner('top 5px'); /* IE BORDER-RADIUS FIX */
    $('.ie .block_cont').corner('bottom 5px'); /* IE BORDER-RADIUS FIX */
    $('.ie .error, .ie .warning, .ie .success, .ie .information').corner('5px'); /* IE BORDER-RADIUS FIX */

    let tableId = '#login_log_table';
    $(tableId).wrap('<div class="table-wrap" />'); /* NORMAL TABLE */
    $(tableId +' tr:even').addClass('even'); /* ODD/EVEN TABLEROW CLASS */
    $(tableId).dataTable({
      pageLength: 100,
      order: [[0, 'desc']],
      language: {
        search: "Pretraga",
        loading: "Ucitavanje...",
        lengthMenu: '_MENU_ broj prikaza',
        emptyTable: 'Prazna tablica',
        info: 'Prikaz _START_ od _END_ od ukupno _TOTAL_ rezultata',
        infoEmpty: '',
        infoFiltered: '(filtrirano od _MAX_ rezultata)',
      },
      columnDefs: [
        { className: 'dt-center', targets: '_all' }
      ],
    }); /* DATA TABLES */

  });
</script>
{% endblock %}

{% block navigation %}
    <li><a href="{{ path('app_loginlog_loginlogsarchive', {clientId: clientId}) }}" class="icon_save">Arhiva</a></li>
    <li><a href="{{ path('client_overview', {clientId: clientId}) }}" class="icon_left">Povratak</a></li>
{% endblock %}

{% block content %}
  <div class="block big"><!-- Block Begin -->
    <div class="titlebar">
      <h3>ARHIVA DNEVNIKA PRIJAVA</h3>
      <a href="#" class="toggle">&nbsp;</a>
    </div>
    <div class="block_cont" style="padding: 4px;">
      <div id="otable_wrapper" class="dataTables_wrapper" role="grid">
        <div class="clear"></div>
        <div id="otable_processing" class="dataTables_processing" style="visibility: hidden;">
          Obrađujem...
        </div>
        <table id="login_log_table" class="data-table-border stripe compact hover"><!-- Table Wrapper Begin -->
          <thead>
          <tr role="row">
            <th>Datum</th>
            <th>Status</th>
            <th>Korisnicko ime</th>
            <th>IP Adresa</th>
            <th>Preglednik</th>
            <th>OS</th>
          </tr>
          </thead>

          <tbody role="alert" aria-live="polite" aria-relevant="all">
          {% for log in logs %}
            <tr>
              <td class="" data-sort="{{ log.serverDate|date('YmdHis') }}">{{ log.serverDate|date('d.m.Y H:i:s') }}</td>
              <td class="">
                {% if log.status == 1%}
                  <span class="green">PR. OK</span>
                {% elseif log.status == 2 %}
                  <span class="red">GR. KOR.</span>
                {% else %}
                  <span class="red">GR. ZAP</span>
                {% endif %}
              </td>
              <td class="">{{ log.username }}</td>
              <td class="">{{ log.ip|long2ip }}</td>
              <td class="">{{ log.browser }}</td>
              <td class="">{{ log.os }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <div class="clear"></div>
        <div class="data-table-bottom"></div>
        <div class="clear"></div>
      </div><!-- Table Wrapper End -->
    </div>
  </div><!-- Block End -->
{% endblock %}