{% extends 'v2/base.html.twig' %}

{% block head %}
    <link href="https://unpkg.com/leaflet/dist/leaflet.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
{% endblock %}
{% block body %}
<body
        :class="{'dark text-bodydark bg-boxdark-2': darkMode === true}"
        x-data="{ page: 'dataTables', modalOpenEdit: false, modalOpenAddNew: false, modalOpenDelete: false, 'loaded': true, 'darkMode': true, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
        x-init="
          darkMode = JSON.parse(localStorage.getItem('darkMode'));
          $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
>
<!-- ===== Preloader Start ===== -->
{% block preloader %}
    {{ parent() }}
{% endblock %}
<!-- ===== Preloader End ===== -->

<!-- ===== Page Wrapper Start ===== -->
<div class="flex h-screen overflow-hidden">
    <!-- ===== Sidebar Start ===== -->
    <aside
            :class="sidebarToggle ? 'translate-x-0' : '-translate-x-full'"
            class="absolute left-0 top-0 z-9999 flex h-screen w-72.5 flex-col overflow-y-hidden bg-black duration-300 ease-linear dark:bg-boxdark lg:static lg:translate-x-0"
            @click.outside="sidebarToggle = false"
    >
        <!-- SIDEBAR HEADER -->
        {% block sidebar_header %}
            {{ parent() }}
        {% endblock %}
        <!-- SIDEBAR HEADER -->

        <div
                class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear"
        >
            <!-- Sidebar Menu -->
            <nav
                    class="mt-5 px-4 py-4 lg:mt-9 lg:px-6"
                    x-data="{selected: $persist('Dashboard')}"
            >
                <!-- Menu Group -->
                <div>
                    <h3 class="mb-4 ml-4 text-sm font-medium text-bodydark2">MENU</h3>
                    <!-- Support Group -->
                    <div>
                        <ul class="mb-6 flex flex-col gap-1.5">
                            <!-- Menu Item Messages -->
                            <li class="reload-tags cursor-pointer">
                                <a
                                        href="{{ path('app_loginlog_loginlogsarchive', { clientId: client.id }) }}"
                                        class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                                    </svg>
                                    Arhiva
                                </a>
                            </li>
                            <li class="cursor-pointer">
                                <a
                                        href="{{ path('client_overview', { clientId: client.id }) }}"
                                        class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                                    </svg>
                                    Povratak
                                </a>
                            </li>
                            <!-- Menu Item Messages -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Sidebar Menu -->
        </div>
    </aside>

    <!-- ===== Sidebar End ===== -->

    <!-- ===== Content Area Start ===== -->
    <div
            class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden"
    >
        <!-- ===== Header Start ===== -->
        {% block header %}
            {{ parent() }}
        {% endblock %}
        <!-- ===== Header End ===== -->

        <!-- ===== Main Content Start ===== -->
        <main>
            <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
                <!-- Breadcrumb Start -->
                <div
                        class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between"
                >
                    <h2 class="text-title-md2 font-bold text-black dark:text-white">
                        Dnevnik prijava
                    </h2>

                    <nav>
                        <ol class="flex items-center gap-2">
                            <li>
                                <a class="font-medium" href="{{ path('admin_overview') }}">Dashboard /</a>
                            </li>
                            <li>
                                <a class="font-medium" href="{{ path('client_overview', { clientId: client.id }) }}">{{ client.name }} /</a>
                            </li>
                            <li class="font-medium text-primary">Dnevnik prijava</li>
                        </ol>
                    </nav>
                </div>
                <!-- Breadcrumb End -->
                <div class="flex flex-col gap-5 md:gap-7 2xl:gap-10">

                    <!-- ====== Data Table Start -->
                    <div
                            class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
                    >
                        <div
                                class="data-table-common data-table-two max-w-full overflow-x-auto p-3"
                        >
                            <h3 class="title-dt font-bold text-black dark:text-white">
                                Arhiva dnevnika prijava
                            </h3>
                            <table class="table w-full table-auto" id="dataTableLedger">
                                <thead>
                                <tr>
                                    <th>
                                        <div
                                                class="flex items-center justify-between gap-1.5"
                                        >
                                            <p>DATUM</p>
                                            <div class="inline-flex flex-col space-y-[2px]">
                              <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        fill="none"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        width="10"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path d="M5 0L0 5H10L5 0Z" fill=""/>
                                </svg>
                              </span>
                                                <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        fill="none"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        width="10"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                          d="M5 5L10 0L-4.37114e-07 8.74228e-07L5 5Z"
                                          fill=""
                                  />
                                </svg>
                              </span>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div
                                                class="flex items-center justify-between gap-1.5"
                                        >
                                            <p>STATUS</p>
                                            <div class="inline-flex flex-col space-y-[2px]">
                              <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        fill="none"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        width="10"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path d="M5 0L0 5H10L5 0Z" fill=""/>
                                </svg>
                              </span>
                                                <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        fill="none"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        width="10"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                          d="M5 5L10 0L-4.37114e-07 8.74228e-07L5 5Z"
                                          fill=""
                                  />
                                </svg>
                              </span>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div
                                                class="flex items-center justify-between gap-1.5"
                                        >
                                            <p>KORISNIČKO IME</p>
                                        </div>

                                    </th>
                                    <th>
                                        <div
                                                class="flex items-center justify-between gap-1.5"
                                        >
                                            <p>IP ADRESA</p>
                                            <div class="inline-flex flex-col space-y-[2px]">
                              <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        fill="none"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        width="10"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path d="M5 0L0 5H10L5 0Z" fill=""/>
                                </svg>
                              </span>
                                                <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        fill="none"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        width="10"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                          d="M5 5L10 0L-4.37114e-07 8.74228e-07L5 5Z"
                                          fill=""
                                  />
                                </svg>
                              </span>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div
                                                class="flex items-center justify-between gap-1.5"
                                        >
                                            <p>PREGLEDNIK</p>
                                            <div class="inline-flex flex-col space-y-[2px]">
                              <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        fill="none"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        width="10"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path d="M5 0L0 5H10L5 0Z" fill=""/>
                                </svg>
                              </span>
                                                <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        fill="none"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        width="10"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                          d="M5 5L10 0L-4.37114e-07 8.74228e-07L5 5Z"
                                          fill=""
                                  />
                                </svg>
                              </span>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div
                                                class="flex items-center justify-between gap-1.5"
                                        >
                                            <p>OPERATIVNI SISTEM</p>
                                            <div class="inline-flex flex-col space-y-[2px]">
                              <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        fill="none"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        width="10"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path d="M5 0L0 5H10L5 0Z" fill=""/>
                                </svg>
                              </span>
                                                <span class="inline-block">
                                <svg
                                        class="fill-current"
                                        fill="none"
                                        height="5"
                                        viewBox="0 0 10 5"
                                        width="10"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                          d="M5 5L10 0L-4.37114e-07 8.74228e-07L5 5Z"
                                          fill=""
                                  />
                                </svg>
                              </span>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for log in logs %}
                                <tr>
                                    <td data-sort="{{ log.serverDate|date('YmdHis') }}">{{ log.serverDate|date('d.m.Y H:i:s') }}</td>
                                    <td>
                                        {% if log.status == 1 %}
                                            <span class="text-green-600">PR. OK</span>
                                        {% elseif log.status == 2 %}
                                            <span class="text-red">GR. KOR.</span>
                                        {% else %}
                                            <span class="text-red">GR. ZAP</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ log.username }}</td>
                                    <td>{{ log.ip|long2ip }}</td>
                                    <td>{{ log.browser }}</td>
                                    <td>{{ log.os }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- ====== Data Table End -->
                </div>
            </div>
        </main>
        <!-- ===== Main Content End ===== -->
    </div>
    <!-- ===== Content Area End ===== -->
</div>
</body>
{% endblock %}