{% extends 'v2/base.html.twig' %}

{% block head %}
    <link href="https://unpkg.com/leaflet/dist/leaflet.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!--HIGHCHARTS CODE IMPORT-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/stock/modules/stock.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <!--HIGHCHARTS CODE IMPORT-->
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
{% endblock %}

{% block body %}
<body
        :class="{'dark text-bodydark bg-boxdark-2': darkMode === true}"
        x-data="{ page: 'dataTables', modalOpenEdit: false, modalOpenAddNew: false, modalOpenDelete: false, 'loaded': true, 'darkMode': true, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
        x-init="
          darkMode = JSON.parse(localStorage.getItem('darkMode'));
          $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
>
<!-- ===== Preloader Start ===== -->
{% block preloader %}
    {{ parent() }}
{% endblock %}
<!-- ===== Preloader End ===== -->

<!-- ===== Page Wrapper Start ===== -->
<div class="flex h-screen overflow-hidden">
    <!-- ===== Sidebar Start ===== -->
    <aside
            :class="sidebarToggle ? 'translate-x-0' : '-translate-x-full'"
            class="absolute left-0 top-0 z-9999 flex h-screen w-72.5 flex-col overflow-y-hidden bg-black duration-300 ease-linear dark:bg-boxdark lg:static lg:translate-x-0"
            @click.outside="sidebarToggle = false"
    >
        <!-- SIDEBAR HEADER -->
        {% block sidebar_header %}
            {{ parent() }}
        {% endblock %}
        <!-- SIDEBAR HEADER -->

        <div
                class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear"
        >
            <!-- Sidebar Menu -->
            <nav
                    class="mt-5 px-4 py-4 lg:mt-9 lg:px-6"
                    x-data="{selected: $persist('Dashboard')}"
            >
                <!-- Menu Group -->
                <div>
                    <h3 class="mb-4 ml-4 text-sm font-medium text-bodydark2">MENU</h3>
                    <!-- Support Group -->
                    <div>
                        <ul class="mb-6 flex flex-col gap-1.5">
                            <!-- Menu Item Messages -->
                            <li class="cursor-pointer">
                                <a
                                        href="{{ path('app_devicedataarchive_getdailydata', { clientId: client.id, deviceId: device.id, entry: entry}) }}"
                                        class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                                    </svg>
                                    Arhiva
                                </a>
                            </li>
                            <li class="cursor-pointer">
                                <a
                                        href="{{ path('app_device_export', {clientId: clientId, id: device.id, entry:entry }) }}"
                                        class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m-6 3.75 3 3m0 0 3-3m-3 3V1.5m6 9h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75" />
                                    </svg>
                                    Izvoz podataka
                                </a>
                            </li>
                            <li class="cursor-pointer">
                                <a
                                        href="{{ path('app_alarm_list', {clientId: clientId, id: device.id}) }}"
                                        class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                    </svg>
                                    Lista alarma
                                </a>
                            </li>
                            <li class="cursor-pointer">
                                <a
                                        href="{{ path('app_device_documents', {clientId: clientId, deviceId: device.id, entry: entry}) }}"
                                        class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                >
                                    <svg class="fill-current" width="24" height="24" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_130_9787)">
                                            <path d="M15.8343 2.49902C15.8343 1.43027 14.9624 0.530273 13.8655 0.530273H4.13428C3.06553 0.530273 2.16553 1.40215 2.16553 2.49902V16.6178C2.16553 16.8428 2.30615 17.0678 2.50303 17.1803C2.6999 17.2928 2.95303 17.2646 3.1499 17.1521L4.55615 16.224L6.44053 17.4615C6.66553 17.6021 6.91865 17.6021 7.14365 17.4615L8.9999 16.224L10.8562 17.4615C10.9687 17.5459 11.0812 17.574 11.1937 17.574C11.3062 17.574 11.4468 17.5459 11.5312 17.4615L13.3874 16.224L14.7937 17.1803C14.9905 17.3209 15.2437 17.3209 15.4405 17.2084C15.6374 17.0959 15.778 16.8709 15.778 16.6459L15.8343 2.49902ZM14.0343 15.099C13.6687 14.8459 13.1905 14.8459 12.8249 15.099L11.2218 16.1678L9.61865 15.099C9.42178 14.9865 9.2249 14.9021 8.9999 14.9021C8.80303 14.9021 8.57803 14.9584 8.40928 15.099L6.80615 16.1678L5.20303 15.099C4.8374 14.8459 4.35928 14.8459 3.99365 15.099L3.45928 15.4365V2.49902C3.45928 2.10527 3.76865 1.7959 4.1624 1.7959H13.9218C14.3155 1.7959 14.6249 2.10527 14.6249 2.49902V15.4365L14.0343 15.099Z" fill=""></path>
                                            <path d="M7.93106 3.79272H5.5123C5.1748 3.79272 4.89355 4.07397 4.89355 4.41147C4.89355 4.74897 5.1748 5.03022 5.5123 5.03022H7.93106C8.26856 5.03022 8.54981 4.74897 8.54981 4.41147C8.54981 4.07397 8.26856 3.79272 7.93106 3.79272Z" fill=""></path>
                                            <path d="M12.347 3.79272H11.672C11.3345 3.79272 11.0532 4.07397 11.0532 4.41147C11.0532 4.74897 11.3345 5.03022 11.672 5.03022H12.347C12.6845 5.03022 12.9657 4.74897 12.9657 4.41147C12.9657 4.07397 12.6845 3.79272 12.347 3.79272Z" fill=""></path>
                                            <path d="M5.5123 8.74275H7.05918C7.39668 8.74275 7.67793 8.4615 7.67793 8.124C7.67793 7.7865 7.39668 7.50525 7.05918 7.50525H5.5123C5.1748 7.50525 4.89355 7.7865 4.89355 8.124C4.89355 8.4615 5.14668 8.74275 5.5123 8.74275Z" fill=""></path>
                                            <path d="M12.347 7.47717H11.672C11.3345 7.47717 11.0532 7.75842 11.0532 8.09592C11.0532 8.43342 11.3345 8.71467 11.672 8.71467H12.347C12.6845 8.71467 12.9657 8.43342 12.9657 8.09592C12.9657 7.75842 12.6845 7.47717 12.347 7.47717Z" fill=""></path>
                                            <path d="M7.93106 11.1334H5.5123C5.1748 11.1334 4.89355 11.4147 4.89355 11.7522C4.89355 12.0897 5.1748 12.3709 5.5123 12.3709H7.93106C8.26856 12.3709 8.54981 12.0897 8.54981 11.7522C8.54981 11.4147 8.26856 11.1334 7.93106 11.1334Z" fill=""></path>
                                            <path d="M12.347 11.1334H11.672C11.3345 11.1334 11.0532 11.4147 11.0532 11.7522C11.0532 12.0897 11.3345 12.3709 11.672 12.3709H12.347C12.6845 12.3709 12.9657 12.0897 12.9657 11.7522C12.9657 11.4147 12.6845 11.1334 12.347 11.1334Z" fill=""></path>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_130_9787">
                                                <rect width="18" height="18" fill="white" transform="translate(0 0.052124)"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    Umjernice
                                </a>
                            </li>
                            <li class="cursor-pointer">
                                <a
                                        href="{{ path('client_overview', {clientId: clientId}) }}"
                                        class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                                    </svg>
                                    Povratak
                                </a>
                            </li>
                            <!-- Menu Item Messages -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Sidebar Menu -->
        </div>
    </aside>

    <!-- ===== Sidebar End ===== -->

    <!-- ===== Content Area Start ===== -->
    <div
            class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden"
    >

        <!-- ===== Header Start ===== -->
        {% block header %}
            {{ parent() }}
        {% endblock %}
        <!-- ===== Header End ===== -->

        <!-- ===== Main Content Start ===== -->
        <main>
            <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
                <!-- Breadcrumb Start -->
                <div
                        class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between"
                >
                    <h2 class="text-title-sm font-bold text-black dark:text-white">
                    </h2>

                    <nav>
                        <ol class="flex items-center gap-2">
                            <li>
                                <a class="font-medium" href="{{ path('app_index') }}">Dashboard /</a>
                            </li>
                            <li>
                                <a class="font-medium" href="{{ path('client_overview', { clientId: client.id }) }}">{{ client.name }} /</a>
                            </li>
                            <li class="font-medium text-primary">Pregled lokacije</li>
                        </ol>
                    </nav>
                </div>
                <!-- Breadcrumb End -->
                <!--Alert-->
                {% if device.alarm %}
                <div class="flex w-full border-l-6 mb-5 border-[#F87171] bg-[#F87171] bg-opacity-[15%] px-4 py-5 shadow-md md:p-4">
                    <div class="mr-5 flex h-9 w-full max-w-[36px] items-center justify-center rounded-lg bg-[#F87171] self-center">
                        <svg fill="none" height="13" viewBox="0 0 13 13" width="13" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.4917 7.65579L11.106 12.2645C11.2545 12.4128 11.4715 12.5 11.6738 12.5C11.8762 12.5 12.0931 12.4128 12.2416 12.2645C12.5621 11.9445 12.5623 11.4317 12.2423 11.1114C12.2422 11.1113 12.2422 11.1113 12.2422 11.1113C12.242 11.1111 12.2418 11.1109 12.2416 11.1107L7.64539 6.50351L12.2589 1.91221L12.2595 1.91158C12.5802 1.59132 12.5802 1.07805 12.2595 0.757793C11.9393 0.437994 11.4268 0.437869 11.1064 0.757418C11.1063 0.757543 11.1062 0.757668 11.106 0.757793L6.49234 5.34931L1.89459 0.740581L1.89396 0.739942C1.57364 0.420019 1.0608 0.420019 0.740487 0.739944C0.42005 1.05999 0.419837 1.57279 0.73985 1.89309L6.4917 7.65579ZM6.4917 7.65579L1.89459 12.2639L1.89395 12.2645C1.74546 12.4128 1.52854 12.5 1.32616 12.5C1.12377 12.5 0.906853 12.4128 0.758361 12.2645L1.1117 11.9108L0.758358 12.2645C0.437984 11.9445 0.437708 11.4319 0.757539 11.1116C0.757812 11.1113 0.758086 11.111 0.75836 11.1107L5.33864 6.50287L0.740487 1.89373L6.4917 7.65579Z"
                                  fill="#ffffff" stroke="#ffffff"></path>
                        </svg>
                    </div>
                        <div class="w-full flex flex-col justify-center">
                        {% for alarm in device.alarms %}
                            <h5 class="font-bold text-sm text-[#B45454]">
                                {{ alarm.message }}
                            </h5>
                        {% endfor %}
                        </div>
                </div>
                {% endif %}
                <!--End of alert-->
                <div class="flex flex-col gap-5 md:gap-7 2xl:gap-10">
                    <div class="flex">
                        {% if client.devicePageView == constant('App\\Entity\\Client::DEVICE_OVERVIEW_ICON') %}
                        <div class="rounded-sm flex flex-wrap justify-center lg:justify-around w-full lg:w-100 border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
                            <div class="flex w-full justify-between border-b border-stroke px-6.5 py-4 dark:border-strokedark">
                                <h3 class="font-bold text-black dark:text-white">
                                    {{ device.name }}, <br> {{ device.temperatureModel.location }}<br>{{ device.deviceDate|date("d.m.Y H:i:s") }}
                                </h3>
                            </div>
                            <div class="text-center flex justify-center px-4 py-4">
                                <img alt="fridge-img" src="{{ asset(device.temperatureModel.image) }}">
                            </div>

                            <div class="p-6 flex items-center">
                                <p>
                                <ul class="text-center text-sm lg:text-left">
                                    <li class="font-bold text-neutral-500 dark:text-neutral-200">Trenutna: <span
                                                class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %}GREŠKA{% else %}{{ device.temperatureModel.currentWithUnit }}{% endif %}</span></li>
                                    <li class="font-bold text-neutral-500 dark:text-neutral-200">Srednja: <span
                                                class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %}GREŠKA{% else %}{{ device.temperatureModel.averageWithUnit }}{% endif %}</span></li>
                                    <li class="font-bold text-neutral-500 dark:text-neutral-200">Maksimalna: <span
                                                class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %}GREŠKA{% else %}{{ device.temperatureModel.maximumWithUnit }}{% endif %}</span></li>
                                    <li class="font-bold text-neutral-500 dark:text-neutral-200">Minimalna: <span
                                                class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %}GREŠKA{% else %}{{ device.temperatureModel.minimumWithUnit }}{% endif %}</span></li>
                                    <li class="font-bold text-neutral-500 dark:text-neutral-200">MKT: <span
                                                class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %}GREŠKA{% else %}{{ device.temperatureModel.meanWithUnit }}{% endif %}</span></li>
                                    <li class="font-bold text-neutral-500 dark:text-neutral-200">R. vlažnost: <span
                                                class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %}GREŠKA{% else %}{{ device.humidityModel.currentWithUnit }}{% endif %}</span></li>
                                </ul>
                                </p>
                            </div>
                        </div>
                        {% elseif client.devicePageView == constant('App\\Entity\\Client::DEVICE_OVERVIEW_DYNAMIC') %}
                        <div class="flex flex-col lg:flex-row w-full items-center">
                            <div class="rounded-sm mb-5 h-full flex flex-wrap justify-center lg:justify-around lg:mb-0 w-full lg:w-100 lg:mr-6 border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
                                <div class="flex w-full justify-between border-b h-fit border-stroke px-6.5 py-4 dark:border-strokedark">
                                    <h3 class="font-bold text-black dark:text-white">
                                        {{ device.name }}, <br>{{ device.temperatureModel.location }}<br>{{ device.deviceDate|date("d.m.Y H:i:s") }}
                                    </h3>
                                </div>
                                <div class="text-center flex justify-center px-4 py-4">
                                    <img alt="fridge-img" src="{{ path('app_image_t', { deviceId: device.id, entry: entry}) }}">
                                </div>

                                <div class="flex items-center p-6">
                                    <p>
                                    <ul class="text-center lg:text-left">
                                        <li class="font-bold text-neutral-500 dark:text-neutral-200">Trenutna: <span
                                                    class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %}GREŠKA{% else %}{{ device.temperatureModel.currentWithUnit }}{% endif %}</span></li>
                                        <li class="font-bold text-neutral-500 dark:text-neutral-200">Srednja: <span
                                                    class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %}GREŠKA{% else %}{{ device.temperatureModel.averageWithUnit }}{% endif %}</span></li>
                                        <li class="font-bold text-neutral-500 dark:text-neutral-200">Maksimalna: <span
                                                    class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %}GREŠKA{% else %}{{ device.temperatureModel.maximumWithUnit }}{% endif %}</span></li>
                                        <li class="font-bold text-neutral-500 dark:text-neutral-200">Minimalna: <span
                                                    class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %}GREŠKA{% else %}{{ device.temperatureModel.minimumWithUnit }}{% endif %}</span></li>
                                        <li class="font-bold text-neutral-500 dark:text-neutral-200">MKT: <span
                                                    class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %}GREŠKA{% else %}{{ device.temperatureModel.meanWithUnit }}{% endif %}</span></li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                            <div class="rounded-sm w-full mb-5 h-fit lg:mb-0 lg:mr-6 lg:w-75 border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
                                <div class="flex w-full flex-wrap justify-between border-b border-stroke px-6.5 py-4 dark:border-strokedark">
                                    <h3 class="font-bold text-black dark:text-white">
                                        {{ device.name }}, <br> {{ device.humidityModel.name }}<br>{{ device.deviceDate|date("d.m.Y H:i:s") }}
                                    </h3>
                                </div>
                                <div class="text-center lg:text-left flex justify-center px-4 pt-4">
                                    <img alt="fridge-img" src="{{ path('app_image_rh', { deviceId: device.id, entry: entry}) }}">
                                </div>

                                <div class="flex justify-center p-6">
                                    <p class="font-medium">
                                    <ul class="text-center lg:text-left">
                                        <li class="font-bold text-neutral-500 dark:text-neutral-200">R. vlažnost: <span
                                                    class="{% if device.offline %}text-red{% else %}text-black dark:text-white{% endif %}">{% if device.offline %}GREŠKA{% else %}{{ device.humidityModel.currentWithUnit }}{% endif %}</span></li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                            <div class="rounded-sm w-full lg:w-100 h-full border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
                                <div class="flex w-full flex-wrap justify-between border-b border-stroke px-6.5 py-4 dark:border-strokedark">
                                    <h3 class="font-bold text-black dark:text-white">
                                        Stanje uređaja<br>{{ device.deviceDate|date("d.m.Y H:i:s") }}
                                    </h3>
                                </div>
                                <div class="flex justify-center items-center flex-col">
                                    <div id="container_signal" data-value="{{ device.signal }}"  class="gauge-container"></div>
                                    <div id="container_voltage" data-value="{{ device.power }}" class="gauge-container"></div>
                                    <div id="container_battery" data-value="{{ device.battery }}" class="gauge-container"></div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% if device.temperatureModel.isShown %}
                        <div class="bg-white dark:bg-boxdark">
                            <div class="flex justify-between border border-stroke px-6.5 py-4 dark:border-strokedark">
                                <h3 class="font-medium text-black dark:text-white">
                                    Podaci za lokaciju {{ device.name }}, {{ device.temperatureModel.name }}
                                </h3>
                                <p class="cursor-pointer closeable-btn mb-0">
                                    <svg class="size-6" fill="none" stroke="currentColor"
                                         stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 12h14" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </p>
                            </div>
                            <div class="form-closeable" id="container_t" data-symbol="{{ device.temperatureModel.unit }}" data-path="{{ path('app_api_chart_getchartdata', { deviceId: device.id, entry: entry}) }}"></div>
                        </div>
                    {% endif %}

                    {% if device.humidityModel.isShown %}
                        <div class="bg-white dark:bg-boxdark">
                            <div class="flex justify-between border border-stroke px-6.5 py-4 dark:border-strokedark">
                                <h3 class="font-medium text-black dark:text-white">
                                    Podaci za lokaciju {{ device.name }}, {{ device.humidityModel.name }}
                                </h3>
                                <p class="cursor-pointer closeable-btn mb-0">
                                    <svg class="size-6" fill="none" stroke="currentColor"
                                         stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 12h14" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </p>
                            </div>
                            <div class="form-closeable" id="container_rh" data-symbol="{{ device.humidityModel.unit }}" data-path="{{ path('app_api_chart_getchartdata', { deviceId: device.id, entry: entry}) }}"></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </main>
        <!-- ===== Main Content End ===== -->
    </div>
    <!-- ===== Content Area End ===== -->
</div>
</body>
{% endblock %}