{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
      $(document).ready(function() {

        $('.toggle').click(function() { /* BLOCK TOGGLE */
          $(this).toggleClass('show');
          $(this).parent().parent().children('.block_cont').slideToggle(300);
          $(this).parent().toggleClass('show');
          return false;
        });

        $('#settingsform').validationEngine('attach', {
          onValidationComplete: function (form, status) {
            var form_data = $('#settingsform').serializeArray();

            $("form input:checkbox").each(function(){
              form_data.push({name: this.name, value: this.checked});
            });

            if (status === true) {

              var loading = 'Učitavam..';
              var ok = 'Promjene spremljene!';
              var error = 'Greška! Pokušajte ponovo.';

              $('#infomsg').hide().html(loading).fadeIn(1000, function () {
                $.post("{{ path('api_client_settings_update', {clientId, clientId}) }}", form_data,
                        function (data, s, r) {
                          if (r.getResponseHeader('Requires-Auth') == 1) {
                            $(location).attr('href', "{{ path('client_overview', {clientId: clientId}) }}");
                            return false;
                          }

                          if (r.status == 202) {
                            $('#infomsg').fadeOut(1000).hide(0, function () {
                              $(this).html(ok).fadeIn(1000, function () {
                                setTimeout(function () {
                                  $('#infomsg').fadeOut(1000, function () {
                                    $(this).hide();
                                  });
                                }, 4000);
                              });
                            });
                          } else {
                            console.log('response data: ' + data);
                            $('#infomsg').fadeOut(1000).hide(0, function () {
                              $(this).html(error).fadeIn(1000, function () {
                                setTimeout(function () {
                                  $('#infomsg').fadeOut(1000, function () {
                                    $(this).hide();
                                  });
                                }, 4000);
                              });
                            });
                          }
                        });
              });
            }
          }
        });/* VALIDATION ENGINE */

        $('#apply').click(function () {
          $('#settingsform').submit();
        });

        $('.tipTop').tipsy({gravity: 's', fade: true}); /* TOOLTIP CLASS */
        $('.tipBot').tipsy({gravity: 'n', fade: true}); /* TOOLTIP CLASS */
        $('.tipLeft').tipsy({gravity: 'e', fade: true}); /* TOOLTIP CLASS */
        $('.tipRight').tipsy({gravity: 'w', fade: true}); /* TOOLTIP CLASS */

        $('.ie #userbar').corner('top 5px'); /* IE BORDER-RADIUS FIX */
        $('.ie .titlebar').corner('top 5px'); /* IE BORDER-RADIUS FIX */
        $('.ie .block_cont').corner('bottom 5px'); /* IE BORDER-RADIUS FIX */
        $('.ie .error, .ie .warning, .ie .success, .ie .information').corner('5px'); /* IE BORDER-RADIUS FIX */

        $("a.fancy").fancybox(); /* FANCYBOX CLASS */


      });
    </script>

{% endblock %}

{% block navigation %}
  <li><a href="#" id="apply" class="icon_check">Spremi promjene</a></li>
  <li><a href="{{ app.request.headers.get('referer') ?? path('app_device_list', {clientId: clientId}) }}" class="icon_left">Povratak</a></li>
{% endblock %}

{% block userbar %}
  <div id="infoarea"><!-- Infoarea Begin -->
    <div id="infomsg" style="display:none;"></div>
  </div><!-- Infoarea End -->
{% endblock %}

{% block content %}
  <div id="body">
    <form id="settingsform" class="form"
          action="#" method="POST">
      <div class="block big"><!-- Block Begin -->
        <div class="titlebar">
          <h3>Postavke za alarme</h3>
          <a href="#" class="toggle">&nbsp;</a>
        </div>
        <div class="block_cont">
          <div class="grid_4 alpha">
            <div class="form_row margin-bottom-25">
              <label>Minimalni nivo baterije za alarmiranje</label>
              <input value="{{ settings.batteryLevelAlert }}" class="input validate[required]] tipRight"
                     type="number" style="width: 290px;" name="battery_level_alarm" id="battery_level_alarm"
                     placeholder="Minimalni nivo baterije za alarmiranje"/>

              <input type="checkbox" id="c1" name="is_battery_level_alarm_active" {% if settings.isBatteryLevelAlarmActive %}checked{% endif %}>
              <label style="display:inline !important" for="c1" role="button" aria-disabled="false">
                <span>Aktivan alarm za minimalni nivo baterije</span>
              </label>
            </div>
            <div class="form_row margin-bottom-25">
              <label>Minimalni nivo signala za alarmiranje</label>
              <input value="{{ settings.deviceSignalAlarm }}" class="input validate[required]] tipRight"
                     type="number" style="width: 290px;" name="device_signal_level" id="device_signal_level"
                     placeholder="Minimalni nivo signala za alarmiranje"/>

              <input type="checkbox" id="c2" name="is_device_signal_level_active" {% if settings.isDeviceSignalAlarmActive %}checked{% endif %}>
              <label style="display:inline !important" for="c2" role="button" aria-disabled="false">
                <span>Aktivan alarm za minimalni nivo signala</span>
              </label>
            </div>
            <div class="form_row">
              <input type="checkbox" id="c3" name="is_device_offline_alarm_active" {% if settings.isDeviceOfflineAlarmActive %}checked{% endif %}>
              <label style="display:inline !important" for="c3" role="button" aria-disabled="false">
                <span>Aktiviranje alarma kada je uređaj offline</span>
              </label>
            </div>
            <div class="form_row">
              <input type="checkbox" id="c4" name="is_device_sensor_error_alarm_active" {% if settings.isDeviceSensorErrorAlarmActive %}checked{% endif %}>
              <label style="display:inline !important" for="c4" role="button" aria-disabled="false">
                <span>Aktiviranje alarma za grešku na senzoru</span>
              </label>
            </div>
            <div class="form_row">
              <input type="checkbox" id="c5" name="is_temperature_alarm_active" {% if settings.isDeviceSensorErrorAlarmActive %}checked{% endif %}>
              <label style="display:inline !important" for="c5" role="button" aria-disabled="false">
                <span>Aktiviranje alarma za temperaturu</span>
              </label>
            </div>
            <div class="form_row">
              <input type="checkbox" id="c6" name="is_humidity_alarm_active" {% if settings.isDeviceSensorErrorAlarmActive %}checked{% endif %}>
              <label style="display:inline !important" for="c6" role="button" aria-disabled="false">
                <span>Aktiviranje alarma za vlagu</span>
              </label>
            </div>
          </div>
          <div class="grid_4 push_1 omega">
            <div class="form_row">
              <label>Email za alarmiranje 1</label>
              <input value="{% if settings.alarmNotificationList[0] is defined %}{{ settings.alarmNotificationList[0] }}{% endif %}"
                     class="input validate[optional, custom[email]] tipRight" type="email"
                     style="width: 290px;" name="email_list1" id="email_list1"
                     placeholder="Unesite email za alarmiranje"/>
            </div>
            <div class="form_row">
              <label>Email za alarmiranje 2</label>
              <input value="{% if settings.alarmNotificationList[1] is defined %}{{ settings.alarmNotificationList[1] }}{% endif %}"
                     class="input validate[optional, custom[email]] tipRight" type="email"
                     style="width: 290px;" name="email_list2" id="email_list2"
                     placeholder="Unesite email za alarmiranje"/>
            </div>
            <div class="form_row">
              <label>Email za alarmiranje 3</label>
              <input value="{% if settings.alarmNotificationList[2] is defined %}{{ settings.alarmNotificationList[2] }}{% endif %}"
                     class="input validate[optional, custom[email]] tipRight" type="email"
                     style="width: 290px;" name="email_list3" id="email_list3"
                     placeholder="Unesite email za alarmiranje"/>
            </div>
            <div class="form_row">
              <label>Email za alarmiranje 4</label>
              <input value="{% if settings.alarmNotificationList[3] is defined %}{{ settings.alarmNotificationList[3] }}{% endif %}"
                     class="input validate[optional, custom[email]] tipRight" type="email"
                     style="width: 290px;" name="email_list4" id="email_list4"
                     placeholder="Unesite email za alarmiranje"/>
            </div>
            <div class="form_row">
              <label>Email za alarmiranje 5</label>
              <input value="{% if settings.alarmNotificationList[4] is defined %}{{ settings.alarmNotificationList[4] }}{% endif %}"
                     class="input validate[optional, custom[email]] tipRight" type="email"
                     style="width: 290px;" name="email_list5" id="email_list5"
                     placeholder="Unesite email za alarmiranje"/>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div><!-- Block End -->
    </form>
  </div>
{% endblock %}