{% set user = app.user %}
{% set client = null %}
{% if clientId is not defined %}
    {% set clientId = null %}
{% endif %}

{% if user is not null %}
    {% if user.client is not null %}
        {% set clientId = user.client.id %}
    {% else %}
        {% set clientId = app.request.attributes.get('_route_params').clientId ?? null %}
    {% endif %}
{% endif %}

{% if clientId is not null %}
    {% set client = global_variables.getClient(clientId) %}
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {% if client is not null %}
                    {{ client.name }}
                {% else %}
                    Administracija
                {% endif %}
            {% endblock %}
        </title>
        <link rel="icon" href="{{ asset('assets/images/intelteh.ico') }}">
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/js/jquery-1.8.3.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/ui/jquery-ui-1.9.2.custom.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jquery.corner.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jquery.validate.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/css_browser_selector.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jquery.multiselect.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/tooltip/jquery.tipsy.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/validation/languages/jquery.validationEngine-en.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/validation/jquery.validationEngine.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/fancybox/jquery.fancybox-1.3.4.pack.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/fancybox/jquery.easing-1.4.pack.js') }}"></script>
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('assets/css/grid.css') }}?version=1.1.2" type="text/css" />
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}?version=1.1.0" type="text/css" />
            <link rel="stylesheet" href="{{ asset('assets/js/ui/admincp/jquery-ui-1.8.17.custom.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('assets/js/tooltip/tipsy.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('assets/js/fancybox/jquery.fancybox-1.3.4.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('assets/js/validation/validationEngine.jquery.css') }}" type="text/css" />
            <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
            <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
            <style>
                .highcharts-range-selector {
                    background: field !important;
                }

                table.dataTable.compact tbody td {
                    padding: 1px !important;
                }
            </style>
        {% endblock %}

    </head>
    <body>
        {% set user = app.user %}
        {% block body %}
        <div id="main" class="container_12"><!-- Body Wrapper Begin -->
            <div id="userbar">
                <div id="logoarea">
                    {% if client is not null %}
                        <a href="{{ path('client_overview', {clientId: clientId}) }}"><div id="logo" style="background: url({{ asset('/assets/images/logo/' ~ client.mainLogo) }}) center no-repeat;"></div></a>
                    {% else %}
                        <a href="/"><div id="logo" style="background: url({{ asset('/assets/images/intelteh_logo.png') }}) center no-repeat;"></div></a>
                    {% endif %}
                </div>
                <ul id="navigation">
                {% block navigation %}
                {% endblock %}
                </ul>
                {% block userbar %}
                {% endblock %}
            </div>

            {% block content %}
            {% endblock %}
        </div>
        {% endblock %}
{#        <div id="copyright"><!-- Copyright Begin -->#}
{#            Copyright © {{ 'now' | date('Y') }} by <a href="http://www.intelteh.hr/" target="_BLANK">Intelteh d.o.o.</a>#}
{#        </div>#}
    </body>

</html>
