<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/js/jquery-1.8.3.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/ui/jquery-ui-1.9.2.custom.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jquery.corner.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jquery.validate.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/css_browser_selector.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jquery.multiselect.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/tooltip/jquery.tipsy.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/validation/languages/jquery.validationEngine-en.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/validation/jquery.validationEngine.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jquery.dataTables.fnReloadAjax.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/fancybox/jquery.fancybox-1.3.4.pack.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/fancybox/jquery.easing-1.4.pack.js') }}"></script>
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/all.css') }}" type="text/css">
            <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
            <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
            <script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.js"></script>
            <script src="https://editor.datatables.net/extensions/Editor/js/editor.dataTables.js"></script>
            <script src="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.css"></script>


            <style>
                span {
                    vertical-align: middle; !important
                }

                table.dataTable.compact tbody td {
                    padding: 2px;
                }

                table.dataTable thead tr {
                    background-color: #495362;
                    color: #cfd7e4;
                    text-shadow: 1px 1px 0px #000;
                    text-align: left;
                    text-transform: uppercase;
                    line-height: 40px;
                }

                table.dataTable td.dt-type-numeric {
                    text-align: center;
                }
            </style>
{#            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
{#            <link rel="stylesheet" href="{{ asset("assets/css/grid.css") }}" type="text/css" />#}
{#            <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}" type="text/css" />#}
        {% endblock %}

    </head>
    <body>
        {% block body %}
        <div id="main" class="container_12"><!-- Body Wrapper Begin -->
            <div id="userbar">
                <div id="logoarea">
                    <a href="/"><div id="logo"></div></a>
                </div>
                <ul id="navigation">
                {% block navigation %}
                {% endblock %}
                </ul>
                {% block userbar %}
                {% endblock %}
            </div>

            {% block content %}
            {% endblock %}
        </div>
        {% endblock %}
        <div id="copyright"><!-- Copyright Begin -->
            Copyright © {{ 'now' | date('Y') }} by <a href="http://www.intelteh.hr/" target="_BLANK">Intelteh d.o.o.</a>
        </div>
    </body>

    {% block bottom_javascripts %}
{#        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
{#        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>#}
    {% endblock %}

</html>
